<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/edit" method="POST">
      <input type="text" name="firstName" value="{{ .FirstName }}" placeholder="first name">
      <br>
      <input type="text" name="lastName" value="{{ .LastName }}" placeholder="last name">
      <br>
      <input type="text" name="address" value="{{ .Address }}" placeholder="address">
      <br>
      <input type="text" name="telephone" value="{{ .Telephone }}" placeholder="telephone">
      <br>
      <input type="submit" value="save">
    </form>
  </body>
</html>
