<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Profile info goes here</h1>
    <ul>
      <li>
        First name: {{ .FirstName }}
      </li>
      <li>
        Last name: {{ .LastName }}
      </li>
      <li>
        Email: {{ .Email }}
      </li>
      <li>
        Address: {{ .Address }}
      </li>
      <li>
        Telephone: {{ .Telephone }}
      </li>
      <li>
        Registration Date: {{ .RegistrationDate }}
      </li>
    </ul>
    <a href="/logout">logout</a>
    <a href="/edit">edit</a>
  </body>
</html>
